[Unit]
Description=Look for coincidental haikus
After=network.target

[Service]
Type=simple
User=matt
WorkingDirectory=/home/matt/github/warmlogic/haikuincidence/
ExecStart=/home/matt/miniconda/bin/python /home/matt/github/warmlogic/haikuincidence/app.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
